@{
    ViewData["Title"] = "Admin Dashboard";
}

<h1>Admin Dashboard</h1>

<p>Welcome to the NewHorizons administration panel.</p>

<ul style="list-style-type: none;">
    <li class="nav-item" style="padding: 1%;">
        <a class="btn btn-primary"
           asp-area="Admin"
           asp-controller="Users"
           asp-action="Index">
           Manage Users
        </a>
    </li>
    <li class="nav-item" style="padding: 1%;">
        <a class="btn btn-primary"
           asp-area="Admin" 
            asp-controller="Comments" 
            asp-action="Index">
            Manage Comments
        </a>
    </li>
    <li class="nav-item" style="padding: 1%;">
        <a class="btn btn-primary"
           asp-area="Admin"
           asp-controller="Comments"
           asp-action="Moderation">
            Moderate Comments
        </a>
    </li>
    <li class="nav-item" style="padding: 1%;">
        <a class="btn btn-primary"
           asp-area="Admin"
           asp-controller="Articles"
           asp-action="Index">
            Manage Articles
        </a>
    </li>
</ul>