@{
    ViewData["Title"] = "Contact Us";
}

<div class="text-center">
    <h1 class="display-4">New Horizons Clubhouse</h1>
</div>
<div class="card-container">
    <div class="capsule-card">
        <div class="circle-image">
            <img src="~/images/call.jpg" alt="Call">
        </div>
        <h3>Call</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>

    <div class="capsule-card">
        <div class="circle-image">
            <img src="~/images/text.jpg" alt="Text">
        </div>
        <h3>Text</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>

    <div class="capsule-card">
        <div class="circle-image">
            <img src="~/images/email.jpg" alt="Email">
        </div>
        <h3>Email</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>

    <div class="capsule-card">
        <div class="circle-image">
            <img src="~/images/mail.jpg" alt="Mail">
        </div>
        <h3>Mail</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
</div>