@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">New Horizons Clubhouse</h1>
</div>
<div class="card-container">
    <div class="capsule-card">
        <div class="circle-image">
            <img src="~/images/photo1.jpg" alt="Reaching Out">
        </div>
        <h3>Reaching Out</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>

    <div class="capsule-card">
        <div class="circle-image">
            <img src="~/images/photo2.jpg" alt="Community">
        </div>
        <h3>Community</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>

    <div class="capsule-card">
        <div class="circle-image">
            <img src="~/images/photo3.jpeg" alt="Growth">
        </div>
        <h3>Growth</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>

    <div class="capsule-card">
        <div class="circle-image">
            <img src="~/images/photo4.jpg" alt="Freedom">
        </div>
        <h3>Freedom</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
</div>